[submodule "software/Lib/lsm6dso-pid"]
	path = software/Lib/lsm6dso-pid
	url = https://github.com/STMicroelectronics/lsm6dso-pid.git
[submodule "software/Lib/MMC5983-STM32-HAL-Driver"]
	path = software/Lib/MMC5983-STM32-HAL-Driver
	url = https://github.com/someonelse20/MMC5983-STM32-HAL-Driver
[submodule "software/Lib/bmp384"]
	path = software/Lib/bmp384
	url = https://github.com/libdriver/bmp384.git
